/* DIFFERENT COMMAND STYLE CREATIONS*/

/* APPLE*/

.mac {
    --max-dot-normal: #34C84A;
    --max-dot-icon: #34C84A;
    --max-dot-hover: #0A630C;
    --min-dot-normal: #FDBC40;
    --min-dot-icon: #FDBC40;
    --min-dot-hover: #985813;
    --close-dot-normal:#FC615D;
    --close-dot-icon: #FC615D;
    --close-dot-hover: #4C0102;
    --buttons-border-radius: 50%;

}
/* WINDOWS*/

.windows {
    --max-dot-normal: #ffffff;
    --max-dot-icon: #000000;
    --max-dot-hover:  #000000;
    --min-dot-normal: #ffffff;
    --min-dot-icon: #000000;
    --min-dot-hover: #000000;
    --close-dot-normal:#ffffff;
    --close-dot-icon: #000000;
    --close-dot-hover: #fd0000;
    --middle-button-position: 2;
}
/* LINUX*/

.debian{
    --max-dot-normal: #ffffff;
    --max-dot-icon: #ffffff;
    --max-dot-hover: #000000;
    --min-dot-normal: #a3a3a3;
    --min-dot-icon: #a3a3a3;
    --min-dot-hover: #303030;
    --close-dot-normal:#fa4c46;
    --close-dot-icon: #fa4c46;
    --close-dot-hover: #4C0102;

}

.dot {
    height: 15px;
    width: 15px;
    background-color: var(--min-dot-normal);
    border-radius: var(--buttons-border-radius);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    cursor: pointer;
    padding: 0.2px;
}
.dot .min {
    color: var(--min-dot-icon);
}

.dot:nth-child(2) {
    order: var(--middle-button-position);
  }

.dot .min:hover {
    color: var(--min-dot-hover);
}
.dot:first-child {
    background-color:var(--close-dot-normal);
    margin-left: 10px;
}
.dot:first-child:active {
    background-color: #fff;
    margin-left: 10px;
}
.dot .cross {
    color: var(--close-dot-icon);
}
.dot .cross:hover {
    color: var(--close-dot-hover);
}

.dot:last-child {
    background-color: var(--max-dot-normal);
}

.dot .fullscreen {
    color: var(--max-dot-icon);
}

.dot .fullscreen:hover {
    color: var(--max-dot-hover);
}