@import './fonts.css';
@import './buttons.css';

:root {
    --background-principal: #181818;
    --background-terminal: #282828;
    --background-header: linear-gradient(354deg, rgba(216,216,216,1) 0%, rgba(238,238,238,1) 49%, rgba(216,216,216,1) 100%);
    --color-text-principal: #d8d8d8;
    --background-body: url(https://i.pinimg.com/originals/52/4c/e1/524ce152036f33b5527e4dd736ced5f5.jpg);
    --color-text-input: #ffffff;
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.mac {
    --background-principal: #181818;
    --background-terminal: #ffffff;
    --background-header: linear-gradient(354deg, rgba(216,216,216,1) 0%, rgba(238,238,238,1) 49%, rgba(216,216,216,1) 100%);
    --color-text-principal: #292525;
    --color-text-input: #352c2c;
    --background-body: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/245f4571-14d4-4069-90a7-259b2971229f/dd8hkax-2446974f-4e52-4f85-8fb0-314ca6328ae8.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvMjQ1ZjQ1NzEtMTRkNC00MDY5LTkwYTctMjU5YjI5NzEyMjlmXC9kZDhoa2F4LTI0NDY5NzRmLTRlNTItNGY4NS04ZmIwLTMxNGNhNjMyOGFlOC5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.9ss8h5pb16YQ51TiWA1lLgYOx9DZCs8xT7Lnh4oIgGE);
    --header-flex-direction: row;
    --command-caret-color: rgba(0, 0, 0, 0.308);
    --header-text:"-zsh";
    --header-command-visibility: ;
    --path-text: ' %';
    --path-symbol: '-';
}

.windows {
    --background-principal: #181818;
    --background-terminal: #022258;
    --background-header: white;
    --color-text-principal: white;
    --color-text-input: yellow;
    --background-body: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/d09f28b5-68af-4d30-9026-3a12c82d58d0/dadcrkd-d1a25711-7293-48c6-8cb7-196fe188c11f.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvZDA5ZjI4YjUtNjhhZi00ZDMwLTkwMjYtM2ExMmM4MmQ1OGQwXC9kYWRjcmtkLWQxYTI1NzExLTcyOTMtNDhjNi04Y2I3LTE5NmZlMTg4YzExZi5qcGcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.-KUEANU-tr3uaFkmlqvvE9oGCSIvfIry2XS5qhHlXBU);
    --header-flex-direction: row-reverse;
    --command-caret-color: rgba(255, 255, 255, 0.308);
    --header-text: 'Windows PowerShell' ;
    --header-command-visibility: none;
    --path-text: '> ';
    --path-symbol: "\\";
}

.debian{
    --background-principal: rgba(61, 52, 52, 0.5);
    --background-terminal: rgba(61, 52, 52, 0.5);
    --background-header: linear-gradient(300deg, rgb(151, 151, 151) 0%, rgba(255, 0, 0, 0.618) 49%, rgba(0, 0, 0, 0.713) 100%);
    --color-text-principal: #d8d8d8;
    --color-text-input: rgb(255, 0, 0);
    --background-body: url(https://wallpaperaccess.com/full/814814.jpg);
    --header-flex-direction: row;
    --command-caret-color: rgba(255, 255, 255, 0.308);
    --header-text: "Debian Console" ;
    --header-command-visibility: none;
    --path-text: ' >>>';
    --path-symbol: '/';
}


body {
    background: var(--background-body);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'FiraCode';
    font-weight: 300;
}

.terminal__font {
    color: var(--color-text-principal);
    font-size: 18px;
    text-indent: 0.5em;
    font-weight: 500;
    float: left;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}
.terminal {
    position: absolute;
    background: var(--background-terminal);
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    font-family: 'Inconsolata', monospace;
    border: 1px solid #d8d8d8;
    border-top: none;
    box-shadow:
        0 2.8px 2.2px rgba(255, 255, 255, 0.034),
        0 6.7px 5.3px rgba(71, 71, 71, 0.048),
        0 12.5px 10px rgba(71, 71, 71, 0.06),
        0 22.3px 17.9px rgba(71, 71, 71, 0.072),
        0 41.8px 33.4px rgba(71, 71, 71, 0.086),
        0 100px 80px rgba(71, 71, 71, 0.12)
    ;
}
.terminal__header {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background-header);
    flex-direction: var(--header-flex-direction);
}
.header__buttons {
    display: flex;
    flex-flow: row;
    flex-direction: var(--header-flex-direction);
}
.header__comand{
    display: var(--header-command-visibility);
}

p.header__title::after{
    content: var(--header-text);
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold;
}

p.header__title{
    display: hidden;
}
.terminal__body {
    position: relative;
    overflow-x: hidden;
    height: 100%;
}
.terminal__body::-webkit-scrollbar {
    display: none;
}
.disable-scrollbars {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.terminal__output {
    width: 100%;
    padding: 4px 10px;
    color: var(--color-text-principal);
}
.terminal__input-wrapper {
    width: 100%;
    padding: 4px 10px;
    font-size: 18px;
    position: relative;
    
}
.terminal__path {
    position: absolute;
    padding-top: 4px;
    font-size: 12px;
    color: var(--color-text-principal);
}

.terminal__path::before {
    content:var(--path-symbol);
}

.terminal__input {
    width: 100%;
    cursor: default;
    caret-color: var(--command-caret-color);
    text-indent: 90px;
    color: var(--color-text-input);
}

span.terminal__path::after {
    content: var(--path-text);
}

.terminal__input:focus,
.terminal__input:hover,
.terminal__input:active {
    outline: none;
}
